/* --- BODY --- */
body {
    margin: 0;
    background-color: rgb(219, 253, 217);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- HEADER --- */
header {
    background-color: rgb(149, 194, 105);
    color: rgb(219, 253, 217);
    width: 100%;
    padding: 0.1rem;
    text-align: center;
}

header h1 span.instruction {
    display: block;
    font-size: 1.2rem;
    color: grey;
    margin-top: 0.5rem;
    visibility: visible;
}

/* --- SCORE --- */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0.1rem 1rem;
    margin-top: 0.5rem;
}

.score .ScorePlayer, .score .ScoreComputer {
    text-align: center;
    font-size: 1rem;
}

.score .ScorePlayer h2, .score .ScoreComputer h2 {
    margin: 0;
    color: rgb(50, 50, 50);
}

.score .ScorePlayer p span, .score .ScoreComputer p span {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

/* --- REPLAY BUTTON --- */
.replay a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem; /* Largeur du bouton */
    height: 3rem; /* Hauteur du bouton */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style de l'image à l'intérieur du bouton de refresh */
.replay a img {
    width: 2rem; /* Ajuste la taille de l'image */
    height: 2rem;
    transition: transform 0.3s ease; /* Transition pour la rotation */
}

/* Animation de rotation au clic */
.replay a img.rotate {
    animation: spin 1s ease-in-out; /* Rotation en 1 seconde */
}

/* Définition de l'animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Affichage du resltat en texte */
.result{
    height: 1rem;
    width: 5rem;
    text-align: center;
}

/* --- GAME --- */
.Game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50vh;
    margin-top: 0.5rem;
}

/* --- PLAYER & COMPUTER ICONS --- */
.Player img, .Computer img {
    width: 25vh;
    height: auto;
    transform: rotate(90deg);
    visibility: hidden;
}

/* --- CHOICE IMAGES --- */
.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vh;
    margin-top: 3rem;
}

.choice section img {
    width: 20vh;
    height: auto;
    transition: transform 0.2s;
}

.choice section img:hover {
    transform: scale(1.1);
}

.choice section img:active {
    transform: scale(0.95);
}

/* --- PLAYER & COMPUTER --- */
.choice section a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
